<!doctype html>
{% load static %}
<html lang="pt-BR" data-theme="{% if tema %}dark{% else %}light{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.colors.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <link rel="stylesheet" href="{% static 'css/amp-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
{% include 'includes/menu.html' %}
{% include 'includes/notifications.html' %}

<main class="container">
    {% include 'includes/header.html' %}

    {% block conteudo %}{% endblock conteudo %}
</main>
<footer class="container">
    Desenvolvido por <a href="https://github.com/wand-CE">Wanderson Soares</a>
</footer>
<script>
    let isLight = {{ tema|lower }};
    const html = document.documentElement;
    const switchTheme = document.getElementById('theme_switcher');
    const sun = '<i class="bi bi-moon-stars"></i>';
    const moon = '<i class="bi bi-sun"></i>';

    document.addEventListener('DOMContentLoaded', () => {
      switchTheme.innerHTML = isLight ? sun : moon;
    });

    switchTheme.setAttribute('data-tooltip', `Tema ${isLight ? 'escuro' : 'claro'}`);

    class ThemeObservable{
      constructor(){
        this.elements = [];
      }

      subscribe(element){
        this.elements.push(element);
      }

      unsubscribe(element){
        const index = this.elements.indexOf(element);
        if (index !== -1) {
          this.elements.splice(index, 1);
        }
      }

      notify() {
        this.elements.forEach(element => {
          element.change();
        });
      }

    }

    const themeObservable = new ThemeObservable();

    switchTheme.addEventListener('click', (e) => {
      e.preventDefault();
      isLight = !isLight;
      html.setAttribute('data-theme', isLight ? 'dark' : 'light');
      switchTheme.innerHTML = isLight ? sun : moon;
      switchTheme.setAttribute('data-tooltip', `Tema ${isLight ? 'claro' : 'escuro'}`);
      removeTooltip();
      fetch(`/changeConfig/?tema=${isLight}`);
      themeObservable.notify();

    });

    const removeTooltip = (timeInt = 1750) => {
      setTimeout(() => {
        switchTheme.blur();
      }, timeInt);
    };
</script>
{% block extra_body %}
{% endblock extra_body %}
</body>
</html>