{% extends 'base.html' %}
{% load static %}
{% block title %}{{ nome_pagina }}{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/createObject.css' %}">
{% endblock extra_head %}

{% block conteudo %}
<article>
    <h1>{{ nome_pagina }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Salvar" class="secondary">
        <a href="{% url 'home' %}" role="button" class="contrast cancelButton">Cancelar</a>
    </form>
</article>

{% endblock conteudo %}