<nav>
    <ul>
        <li>
          <a on="tap:sidebar-left.toggle" aria-label="Close menu" style="cursor: pointer;" class="secondary"  data-tooltip="Menu">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="25px" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </a>
        </li>
      </ul>
      <ul>
        <li><strong>Mercado</strong></li>
      </ul>
      <ul>
          <li><a id="theme_switcher" data-tooltip="theme dark"></a></li>
      </ul>
</nav>