<amp-sidebar id="sidebar-left" class="sample-sidebar contrast" layout="nodisplay" side="left" hidden>
    <aside>
        <nav>
            <ul>
                <button on="tap:sidebar-left.close" aria-label="Open menu">
                    <i class="bi bi-x-lg"></i>
                </button>
            </ul>
            <ul>
                <li>
                    <h3>Menu</h3>
                    <details>
                        <summary style="margin-bottom: 20px;">Categorias</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarCategorias' %}">Listar</a></li>
                            <li><a href="{% url 'criarCategoria' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Produtos</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarProdutos' %}">Listar</a></li>
                            <li><a href="{% url 'criarProduto' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Clientes</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarClientes' %}">Listar</a></li>
                            <li><a href="{% url 'criarCliente' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Vendedores</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarVendedores' %}">Listar</a></li>
                            <li><a href="{% url 'criarVendedor' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Compras</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarCompras' %}">Listar</a></li>
                            <li><a href="{% url 'criarCompra' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                </li>

            </ul>
        </nav>
    </aside>
</amp-sidebar>