<amp-sidebar id="sidebar-left" class="sample-sidebar" layout="nodisplay" side="left" hidden>
    <aside>
        <nav>
            <ul>
                <button on="tap:sidebar-left.close" aria-label="Open menu">
                    <i class="bi bi-x-lg"></i>
                </button>
            </ul>
            <ul>
                <li>
                    <h3>Menu</h3>
                    <details>
                        <summary style="margin-bottom: 20px;">Categorias</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarCategorias' %}">Listar</a></li>
                            <li><a href="{% url 'criarCategoria' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Produtos</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarProdutos' %}">Listar</a></li>
                            <li><a href="{% url 'criarProduto' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Clientes</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarClientes' %}">Listar</a></li>
                            <li><a href="{% url 'criarCliente' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <details>
                        <summary style="margin-bottom: 20px;">Compras</summary>
                        <ul style="margin-left:2%">
                            <li><a href="{% url 'listarCompras' %}">Listar</a></li>
                            <li><a href="{% url 'criarCompra' %}">Cadastrar</a></li>
                        </ul>
                    </details>
                    <br>
                    <a style="margin-bottom: 20px;" href="{% url 'reportsPage' %}">Relatórios</a>
                </li>
            </ul>
        </nav>
    </aside>
    <aside id="asideUser">
        {% if user.is_authenticated %}
        <a on="tap:sidebar-left-user-config.toggle" style="overflow-wrap: anywhere;" class="currentUsername">{{ user|title }}</a>
        <a id="exitButton" href="{% url 'logoutVendedor' %}?next=/" data-tooltip="Sair">
            <i class="bi bi-box-arrow-in-right"
               style="font-size: xx-large"></i>
        </a>
        {% else %}
        <a href="{% url 'loginVendedor' %}" role="button" class="logoutButton">Entrar</a>
        {% endif %}

    </aside>
</amp-sidebar>
{% if user.is_authenticated %}    
<amp-sidebar id="sidebar-left-user-config" class="sample-sidebar" layout="nodisplay" side="left" hidden>
    <aside>
        <ul>
            <i class="bi bi-arrow-left" on="tap:sidebar-left-user-config.close" aria-label="Open menu"></i>
        </ul>
        <form id="changeUserDataForm" style="color: var(--contrast-inverse);">
            <span><strong>Nome atual:</strong><span class="currentUsername">{{ user }}</span></span>
            <label>Novo nome de usuario:</label>
            <div class="errorList" style="color: red;"></div>
            <input type="text" name="username" style="background-color: var(--contrast-inverse);" required>
            <input type="submit" class="secondary" value="Salvar">
        </form>
    </aside>
</amp-sidebar>
{% endif %}