* {
  cursor: default;
}
article {
  margin: 30px auto 0 auto;
}

#sunMoonSvg {
  width: var(--font-size);
  height: var(--font-size);
  color: var(--contrast);
}

#theme_switcher {
  cursor: pointer;
}

a,
.bi {
  cursor: pointer;
}

#notifications {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--contrast);
  color: var(--contrast-inverse);
  padding: 15px;
  border-radius: 5px;
  /* display: none; */
  z-index: 1000;
}

input[type='password']{
    cursor:auto;
}
